body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 13px;
  background-color: hsl(212, 23%, 69%);
}
body main {
  background-color: hsl(210, 46%, 95%);
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
}
body main img {
  max-width: 100%;
  flex: 1;
  border-radius: 1rem 1rem 0 0;
}
body main section {
  min-width: 40%;
  padding: 0;
  margin: 3rem 3rem;
  flex: 1;
  text-align: center;
}
body main section h1 {
  font-family: "Manrope", sans-serif;
  text-align: left;
  margin: 1rem 0.3rem;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(217, 19%, 35%);
}
body main section p {
  font-family: "Manrope", sans-serif;
  text-align: left;
  margin: 1rem 0.3rem;
  color: hsl(214, 17%, 51%);
  font-size: 1.5rem;
}
body main section div {
  width: 90%;
  text-align: left;
}
@media screen and (max-width: 500px) {
  body main section div {
    width: 100%;
  }
}
body main section div #tooltip {
  display: none;
  flex-direction: row;
  padding: 1rem;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  background: hsl(217, 19%, 35%);
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
}
body main section div #tooltip #arrow {
  position: absolute;
  background: hsl(217, 19%, 35%);
  width: 8px;
  height: 8px;
  margin-left: 0;
  margin-top: 20px;
  transform: rotate(45deg);
}
body main section div #tooltip img {
  margin-left: 0.5rem;
  height: 30px;
  width: 30px;
}
body main section div .footer-mobile {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  width: 100%;
}
body main section div .footer-mobile #avatar {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
body main section div .footer-mobile #shared {
  height: 1.5rem;
  width: 1.8rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.7rem;
  border-radius: 50%;
  margin-left: auto;
}
body main section div .footer-mobile #shared:hover {
  cursor: pointer;
}
body main section div .footer-mobile div {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  margin-left: 1rem;
}
body main section div .footer-mobile div h4 {
  margin: 0;
}
body main section div .footer-mobile div span {
  margin: 0;
  color: hsl(214, 17%, 51%);
}
body main section div .footer-mobile-active {
  background-color: hsl(217, 19%, 35%);
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
}
body main section div .footer-mobile-active img {
  padding: 1.4rem;
  height: 1rem;
}
body main section div .footer-mobile-active img:hover {
  cursor: pointer;
}
body main section div .footer-mobile-active h4 {
  color: hsl(212, 23%, 69%);
  font-weight: 100;
  font-size: larger;
  letter-spacing: 3px;
}
body main section div .footer-mobile-active #shared-active {
  height: 1.5rem;
  width: 1.8rem;
  filter: saturate(50);
  padding: 0.7rem;
  border-radius: 50%;
  border: 2rem;
}
body main section div .footer-mobile-active #shared-active:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  section {
    margin: 1rem 0 0 0 !important;
  }
  #avatar {
    margin-left: 4px;
  }
  #shared {
    margin-right: 4px;
  }
}/*# sourceMappingURL=index.css.map */